<script>
import Task from './Task'

import SprintModal from '@/modals/Sprint'

export default {
  props: {
    sprintId: { type: Number, required: true },
    createAllowed: { type: Boolean, default: true }
  },
  data() {
    return {
      newTaskName: ''
    }
  },
  components: {
    Task
  },
  computed: {
    sprint() {
      return this.$store.getters.sprint(this.sprintId)
    },
    tasks() {
      return this.$store.getters.sprintTasks(this.sprintId)
    },
    sumStoryPoints() {
      const estimates = this.$store.getters.sprintTasks(this.sprintId)
        .map(task => task !== undefined ? parseFloat(task.estimate) : 0)
        .map(estimate => isNaN(estimate) ? 0 : estimate)

      if (estimates.length === 0)
        return 0

      return estimates.reduce((acc, val) => acc + val)
    }
  },
  methods: {
    onNewTaskEnter() {
      this.$store.dispatch('task.create', {
        name: this.newTaskName,
        sprintId: this.sprintId
      })
      this.newTaskName = ''
    },
    onEditClicked() {
      this.$modal.show(SprintModal, {
        action: 'edit',
        sprintId: this.sprintId
      })
    },
    onFinishClicked() {
      this.$store.dispatch('sprints.toggleFinish', {
        id: this.sprintId
      })
    }
  }
}
</script>

<template>
  <div class="row my-5">
    <div class="col-7 mb-3">
      <div class="h4">{{ sprint.name }}</div>
      <pre class="text-muted">{{ sprint.description }}</pre>
    </div>
    <div class="col-1">
      <div>{{ tasks.length }} tasks</div>
    </div>
    <div class="col-2">
      {{ sumStoryPoints }} story points
    </div>
    <div class="col-2">
      <div class="row">
        <div class="col-6" v-if="sprint.allowedActions.finish">
          <button
            type="button"
            class="btn btn-light"
            @click="onFinishClicked"
          >Finish</button>
        </div>
        <div class="col-6" v-if="sprint.allowedActions.edit">
          <button
            type="button"
            class="btn btn-light"
            @click="onEditClicked"
          >Edit</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <task
        v-for="taskId in sprint.tasksIds"
        :id="taskId"
      />
    </div>
    <div v-if="createAllowed" class="col-12">
      <input
        class="w-100"
        type="text"
        placeholder="Enter task name"
        v-model="newTaskName"
        @keyup.enter="onNewTaskEnter"
      />
    </div>
  </div>
</template>
