<script>
import ContextMenu from 'vue-context-menu'

import EditModal from '@/modals/EditTask'

export default {
  props: {
    id: { type: Number, required: true }
  },
  components: {
    ContextMenu
  },
  computed: {
    task() {
      return this.$store.getters.task(this.id)
    },
    possibleMoveTo() {
      return this.$store.getters.taskPossibleMoveTo(this.id)
    }
  },
  methods: {
    onChangeSprint(moveToSprintId) {
      this.$store.dispatch('task.changeSprint', {
        taskId: this.id,
        moveToSprintId
      })
    },
    onDelete() {
      this.$store.dispatch('task.delete', { id: this.id })
    },
    onDoneChanged() {
      this.$store.dispatch('task.toggleDone', { id: this.id })
    },
    onClick() {
      this.$modal.show(EditModal, { taskId: this.id })
    }
  }
}
</script>

<template>
  <div
    class="row"
    :class="{ done: task.done }"
    id="task"
    @contextmenu.prevent="$refs.ctxMenu.open"
    @click="onClick"
  >
    <div class="col-6" id="name">{{ task.name }}</div>
    <div class="col-2">
      <span v-for="label in task.labels">
        {{ label }}
      </span>
    </div>
    <div class="col-2">{{ task.estimate }}</div>

    <context-menu id="context-menu" ref="ctxMenu">
      <li
        class="context-item mouse-pointer"
        @click="onDoneChanged"
      >
        <span v-if="task.done">Make undone</span>
        <span v-else>Make done</span>
      </li>
      <li
        v-for="sprint in possibleMoveTo"
        class="context-item mouse-pointer"
        @click="onChangeSprint(sprint.id)"
      >Move to: {{ sprint.name }}</li>
      <li
        class="context-item mouse-pointer"
        @click="onDelete"
      >Delete</li>
    </context-menu>
  </div>
</template>

<style>
.context-item:hover {
  background: #deebff;
}

#task {
  border: 1px solid #DFE1E6;
  color: #333;
  margin-top: -1px;
}

#task:hover {
  background: #deebff;
}
#task.done #name {
  text-decoration: line-through;
}
</style>
