<script>
import Sprint from '@/components/Sprint'
import SprintModal from '@/modals/Sprint'

export default {
  props: {
    projectCode: { type: String, required: true }
  },
  components: {
    Sprint
  },
  computed: {
    sprints() {
      return this.$store.getters.activeSprints
    },
    project() {
      return this.$store.getters.project(this.projectCode)
    }
  },
  methods: {
    onCreateSprintClick() {
      this.$modal.show(SprintModal, { action: 'create' })
    }
  }
}
</script>

<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="h2">{{ project.code }} - {{ project.name }}</div>
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <button
          type="button"
          class="btn btn-default"
          @click="onCreateSprintClick"
        >Create sprint</button>
      </div>
    </div>
    <sprint
      v-for="sprint in sprints"
      :sprintId="sprint.id"
    />
  </div>
</template>
