<script>
export default {
  computed: {
    projects() {
      return this.$store.getters.projects
    }
  }
}
</script>

<template>
  <div class="container">
    <div class="h3">Jira - Projects list</div>
    <router-link
      v-for="proj in projects"
      :to="`/${proj.code}`"
    >{{ proj.name }}</router-link>
  </div>
</template>
