<template>
  <div id="app">
    <router-view/>
    <modals-container/>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

export default {
}
</script>

<style>
.mouse-pointer {
  cursor: pointer;
}
</style>
