<script>
export default {
  props: {
    taskId: { type: Number, required: true }
  },
  data() {
    const task = this.$store.getters.task(this.taskId)

    return {
      name: task.name,
      labels: task.labels,
      estimate: task.estimate
    }
  },
  computed: {
    task() {
      return this.$store.getters.task(this.taskId)
    }
  },
  methods: {
    onSubmit(event) {
      if (event.type !== 'click' && !event.ctrlKey)
        return

      this.$store.dispatch('task.update', {
        id: this.taskId,
        name: this.name,
        estimate: this.estimate
      })
      this.$emit('close')
    }
  }
}
</script>

<template>
  <div class="container my-3" @keyup.enter="onSubmit" @keyup.esc="$emit('close')">
    <div class="row my-2">
      <div class="col-12">
        <div class="h5">Edit task {{ task.code }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div>Name</div>
      </div>
      <div class="col-9">
        <input
          class="w-100"
          placeholder="Enter task name"
          type="text"
          v-model="name"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div>Labels</div>
      </div>
      <div class="col-9">
        <input
          class="w-100"
          placeholder="Enter task labels"
          type="text"
          v-model="labels"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div>Estimate</div>
      </div>
      <div class="col-9">
        <input
          class="w-100"
          placeholder="Enter task estimate"
          type="number"
          step="0.5"
          min="0"
          max="5"
          v-model="estimate"
        />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-2">
        <button
          type="button"
          class="btn btn-default w-100"
          @click="$emit('close')"
        >Cancel</button>
      </div>
      <div class="col-8">
      </div>
      <div class="col-2">
        <button
          type="button"
          class="btn btn-default w-100"
          @click="onSubmit"
        >Save</button>
      </div>
    </div>
  </div>
</template>
