<script>
export default {
  props: {
    action: { type: String, required: true },
    sprintId: { type: Number }
  },
  data() {
    let sprintData = {}

    if (this.action === 'edit') {
      const sprint = this.$store.getters.sprint(this.sprintId)

      sprintData = {
        name: sprint.name,
        description: sprint.description
      }
    } else if (this.action === 'create')
      sprintData = { name: '', description: '' }

    return {
      ...sprintData,
      ctrl: false
    }
  },
  methods: {
    onSubmit(event) {
      if (event.type !== 'click' && !event.ctrlKey)
        return

      if (this.action === 'edit') {
        this.$store.dispatch('sprints.update', {
          id: this.sprintId,
          name: this.name,
          description: this.description
        })
      } else if (this.action === 'create') {
        this.$store.dispatch('sprints.create', {
          name: this.name,
          description: this.description
        })
      }

      this.$emit('close')
    }
  }
}
</script>

<template>
  <div class="container my-3" @keyup.enter="onSubmit" @keyup.esc="$emit('close')">
    <div class="row my-2">
      <div class="col-12">
        <div class="h5">Edit sprint</div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div>Name</div>
      </div>
      <div class="col-9">
        <input
          class="w-100"
          placeholder="Enter sprint name"
          type="text"
          v-model="name"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div>Description</div>
      </div>
      <div class="col-9">
        <textarea
          class="w-100"
          placeholder="Enter task labels"
          type="text"
          v-model="description"
        />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-2">
        <button
          type="button"
          class="btn btn-default w-100"
          @click="$emit('close')"
        >Cancel</button>
      </div>
      <div class="col-8">
      </div>
      <div class="col-2">
        <button
          type="button"
          class="btn btn-default w-100"
          @click="onSubmit"
        >
          <span v-if="action === 'edit'">Save</span>
          <span v-if="action === 'create'">Create</span>
        </button>
      </div>
    </div>
  </div>
</template>
